@use "../../../../../styles/colors" as colors;
@use "../../../../../styles/breakpoints" as bp;
@use "sass:color";

.quiz-alternatives {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;

  &__item {
    font-size: 0.9rem;
    padding: 0.75rem 1rem;
    font-weight: 500;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.2s ease, color 0.2s ease, transform 0.1s ease,
      box-shadow 0.2s ease;
    text-align: left;
    background-color: colors.$amber-200-alpha-80;
    color: colors.$text-dark;
    border: 1px solid transparent;
    width: 100%;
    line-height: 1.5;

    &:hover:not(:disabled) {
      background-color: rgba(colors.$amber-200, 0.95);
      border-color: colors.$gold-highlight;
      transform: translateY(-2px);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    &:active:not(:disabled) {
      transform: translateY(0px);
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    &:disabled {
      cursor: not-allowed;
    }

    &--correct {
      background-color: colors.$success-bg;
      border-color: color.adjust(colors.$success-bg, $lightness: -10%);
      color: colors.$success-text;
      font-weight: 600;
      cursor: default;
      opacity: 1 !important;
      transform: none !important;
      box-shadow: none !important;
    }

    &--incorrect {
      background-color: colors.$error-bg;
      border-color: color.adjust(colors.$error-bg, $lightness: -10%);
      color: colors.$error-text;
      font-weight: 600;
      cursor: default;
      opacity: 1 !important;
      transform: none !important;
      box-shadow: none !important;
    }

    &--disabled {
      opacity: 0.6;
      background-color: rgba(colors.$amber-800, 0.4);
      color: colors.$text-light-secondary;
      cursor: default;
      &:hover {
        transform: none;
        box-shadow: none;
        border-color: transparent;
      }
    }
  }

  &__empty {
    color: colors.$amber-200;
    text-align: center;
    padding: 1rem;
    font-size: 1rem;
    font-style: italic;
  }
}

@media (min-width: bp.$breakpoint-sm) {
  .quiz-alternatives {
    gap: 1rem;
    &__item {
      font-size: 1.1rem;
      padding: 1.2rem 1.5rem;
    }
  }
}
