$retro-bg: #fdfaf4;
$retro-text: #2c2c2c;
$retro-text-secondary: #5e5e5e;
$latinum-gold: #f5b92e;
$latinum-gold-dark: #d89b0d;

$retro-border: #d1d1d1;
$retro-border-dark: $retro-text;

$retro-success: #3a8e5a;
$retro-success-bg: #eaf4ef;
$retro-error: #c94444;
$retro-error-bg: #f9e9e9;

$white: #ffffff;
$black: #000000;
