@use "../../../../../styles/colors" as colors;
@use "../../../../../styles/breakpoints" as bp;

.quiz-question {
  width: 100%;
  flex-shrink: 0;

  &__text {
    font-size: 1.2rem;
    line-height: 1.6;
    color: colors.$text-light-secondary;
    text-align: center;
    font-weight: 500;
  }
}

@media (min-width: bp.$breakpoint-sm) {
  .quiz-question__text {
    font-size: 1.4rem;
    line-height: 1.7;
  }
}

@media (min-width: bp.$breakpoint-md) {
  .quiz-question__text {
    font-size: 1.5rem;
  }
}
