@use "../../../../../styles/colors" as colors;
@use "../../../../../styles/_breakpoints" as bp;
@use "../../../../../styles/styles" as styles;
.quiz-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
  margin-top: 1.5rem;

  &__button {
    @include styles.retro-button-styles;
  }
}

@media (min-width: bp.$breakpoint-sm) {
  .quiz-actions {
    justify-content: flex-end;
    margin-top: 0;
  }
}
